*.pid
*.xml
*.csr
*.crt
*.key
*.json
certs
www
custom_components
OZW_Log.txt
home-assistant.log
ha*.log
home-assistant_v2.db
home-assistant.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore
mpd-events.txt
certs
shell_commands
